.content{
    /* display: flex; */
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    width: 550px;
}
a:visited{
    color: rgb(0, 174, 255);
}
a{
     color: rgb(0, 174, 255);
     text-decoration: solid;
}
a:hover{
    cursor: grab;
}
h3{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none;
}

input[type= text]{
    padding: 5px;
    margin: 3px;
    width: 350px;
}
input[type= submit]{
    padding: 6px;
    border: 0px;
    background-color: green;
    color: white;
    border-radius: 3px;
}

.add-bookmark{
    padding: 5px;
    background-color: green;
    color: white;
    border: 0px;
    width: 150px;
    margin-left: 300px;
}
.bookmark-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 450px;
    margin-top: 5px;
}
.bookmarks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}
.bookmark-item{
    margin: 5px;
    min-width: 250px;
    padding: 25px;
    border: 1px solid #817d7d;
}
.bookmark-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit{
    color: rgb(0, 174, 255);
    margin: 5px;
    padding: 5px;
}
.delete{
    padding: 5px;
    color: rg(151, 116, 116);
}